<div class="chair-header">
    <h1>Ata - l'unique</h1>
</div>

<div class="sub-header">
  <div class="row">
    <div class="col-6">Couleurs/Essences</div>
    <div class="col-6">Information</div>
</div>
